@import url(http://fonts.googleapis.com/css?family=Cabin:400);


.webdesigntuts-workshop form {
	display: inline-block;
	font-size: 0px;
	position: relative;
	z-index: 1;
}

.webdesigntuts-workshop input {
	align:center;
	background: #222;
	background: linear-gradient(#333, #222);
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
	position:center;
	color: white;
	display: block;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 15px;
	font-weight: 400;
	height: 40px;
	margin-right: 20px;
	padding: 5px 5px 5px 5px;
	text-shadow: 0 -1px 0 #000;
	width: 200px;
}

h2 {
	color:white;
}

table{
	position:center;
}

.copy{
	color:#493;
	margin: 35px 100px 30px;
}
}
