@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Cabin:400);



.webdesigntuts-workshop form {
	display: inline-block;
	font-size: 0px;
	position: relative;
	z-index: 1;
}
.webdesigntuts-workshop input {
	background: #222;
	background: linear-gradient(#333, #222);
	border: 1px solid #444;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 2px 0 #000;
	color: white;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 15px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 5px 5px 5px 5px;
	text-shadow: 0 -1px 0 #000;
	width: 150px;
}


.form-input input{
	background: #222;
	background: linear-gradient(#333, #222);
	border: 1px solid #444;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 15px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 5px 5px 5px 5px;
	text-shadow: 0 -1px 0 #000;
	width: 600px;
}


.webdesigntuts-workshop button {
	background: #222;
	background: linear-gradient(#333, #222);
	box-sizing: content-box;
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 60px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	text-shadow: 0 -1px 0 #000;
	width: 80px;
}



.copy{
	color:#493;
	margin: 50px 100px 30px;
}

#notFound{
	height:50%;
	width: 50%;
	align:center;
	position:relative;
}

	
}

	
}
